<h3>Edit Recipe</h3>
<div class="row">
    <form action="/recipe/{{story._id}}" method="POST" class="col s12">
    <input type ="hidden" name ="_method" value ="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{recipe.title}}" >
                <label for="title">Title</label>
                